*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{ float: left;
    margin: 1% 0% 0% 8% ;

  }  
  button{
float: right;
margin: 1% 8% 0% 0%;
height: 50px;
width: 110px;
background-color: blue;
color: white;
cursor: pointer;
border-radius: 10%;
transition: 0.5s;
border-color: blue;
  }
  button:hover{
    background-color: rgb(23, 26, 216);

  }
  .back{
    width: 100%;
    height: 88vh;
   background-color: aqua;
   background-image: url(download\ \(1\).jpg);
background-repeat: no-repeat;
background-size: 100%;

  }
 .back { 
    padding: 15% 0% 0% 25%;
    color: white;

  }
  input{ 
    width: 390px;
    height: 42px;
    margin: 0% 0% 10% 17%;
  }
  .hack{
    margin: 0% 47% 20% 0%;
height:43px ;
width: 110px;
  }